///////////////
// VARIABLES //
///////////////

@standard-color: white;
@standard-accent-dark: #21409A;
@standard-accent-light: #0077b3;
@standard-bg: #131313;
@standard-bg-darker: #1A1A1A;
@standard-bg-dark: #363636;
@standard-bg-light: #707070;

///////////////
// BOOTSTRAP //
///////////////

// bootsrap 3.0
@import "../../vendor/twbs/bootstrap/less/bootstrap.less";

// general
@body-bg: @standard-bg;
@text-color: @standard-color;

// forms
@input-bg: @standard-bg-darker;
@input-color: @standard-color;
@input-bg-disabled: @standard-bg-light;

// navbar
@navbar-height: 40px;
@navbar-default-bg: @standard-accent-light;
@navbar-default-border: @standard-accent-light;
@navbar-default-color: @text-color;
@navbar-default-link-color: @text-color;
@navbar-default-link-active-color: @text-color;
@navbar-inverse-bg: @standard-accent-dark;
@navbar-inverse-border: @standard-bg-light;
@navbar-inverse-link-color: @text-color;
@navbar-inverse-link-active-bg: @standard-accent-light;
@navbar-padding-horizontal: 0px;

// buttons
@btn-default-bg: @standard-accent-light;
@btn-default-color: @text-color;

// popovers
@popover-bg: @standard-bg-dark;

//////////////
// INCLUDES //
//////////////

@import "welcome.less";
@import "display.less";
@import "navigation.less";
@import "header.less";

////////////
// SHARED //
////////////

@import "../../packages/shared/less/template.less";