///////////////
// VARIABLES //
///////////////

// base colors
@cloudcast-color: white;
@cloudcast-accent-dark: #21409A;
@cloudcast-accent-light: #0077b3;
@cloudcast-bg: #131313;
@cloudcast-bg-darker: #1A1A1A;
@cloudcast-bg-dark: #363636;
@cloudcast-bg-light: #707070;

//////////////
// INCLUDES //
//////////////

@import "welcome.less";
@import "display.less";
@import "navigation.less";
@import "text.less";

//////////////
// STANDARD //
//////////////

@import "../../packages/shared/less/standard.less";

// standard colors
@standard-item-bg: @cloudcast-bg-dark;
@standard-item-input-active: @cloudcast-accent-light;
@standard-sidebar-item-border: @cloudcast-bg-light;
@standard-sidebar-item-active: @cloudcast-accent-light;
@standard-sidebar-bg: @cloudcast-accent-dark;
@standard-sidebar-border: @cloudcast-bg-light;
@standard-table-bg-active: @cloudcast-bg-dark;
@standard-typeahead-bg: @cloudcast-bg-dark;
@standard-typeahead-border: @cloudcast-bg-light;
@standard-typeahead-color-hover: @cloudcast-bg-dark;
@standard-typeahead-bg-hover: @cloudcast-color;

// buttons
@standard-button-bg-active: @cloudcast-bg;

///////////////
// BOOTSTRAP //
///////////////

// general
@body-bg: @cloudcast-bg;
@text-color: @cloudcast-color;

// forms
@input-bg: @cloudcast-bg-darker;
@input-color: @cloudcast-color;
@input-bg-disabled: @cloudcast-bg-light;

// navbar
@navbar-height: 40px;
@navbar-default-bg: @cloudcast-accent-light;
@navbar-default-border: @cloudcast-accent-light;
@navbar-default-color: @text-color;
@navbar-default-link-color: @text-color;
@navbar-default-link-active-color: @text-color;
@navbar-inverse-bg: @cloudcast-accent-dark;
@navbar-inverse-border: @cloudcast-bg-light;
@navbar-inverse-link-color: @text-color;
@navbar-inverse-link-active-bg: @cloudcast-accent-light;

// buttons
@btn-default-bg: @cloudcast-accent-light;
@btn-default-color: @text-color;

// popovers
@popover-bg: @cloudcast-bg-dark;