*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
/logs/*/*/*
/cache/*/*
/config/crypt.php
/config/*/migrations.php
/config/liquidsoap.php
/config/db.php
/config/promoter.php
/config/*/db.php
/config/*/promoter.php